// todo: no shrink on avatar for search result players;
@import 'styles/variables.scss';

.App {
  .App-linkMapWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    margin-top: 30px;

    .App-findingLinkSpinner {
      fill: #999;
      width: 55px;
    }
  }

  .App-linkMapResultError {
    color: $clrError;
  }

  .App-linkMapResultDegOfSep {
    color: $clrOrange;
    font-weight: bold;
    font-size: larger;
    border-bottom: 1px dashed #ccc;
  }
}