@import 'styles/variables.scss';

.App {
  .App-linkMapWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    .App-findingLinkSpinner {
      fill: #000;
      width: 75px;
    }
  }

  .App-linkMapResultError {
    color: $clrError;
  }
}